nav {
    background-color: lightblue;
    margin: 10px;
    display: flex;

}
main {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    padding: 10px;
}
#first{
    justify-content: space-between;
}
#second{
    flex-direction: column-reverse;
}
#third{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
#forth .button{
    background-color: lightgreen;
    margin: 10px;
    flex-grow: 1;

}
#forth .b2{
    flex-grow: 2;
}
#forth .b3{
    order: -1;
}
