p{
    border: 1px solid;
   max-width: 700px;
}
#figure1{
    background-color: #20b2aa;
}
#figure2{
    background-color: coral;
}
#figure3{
    background-color: lightyellow;
}

@media (min-width: 600px){
    #figure1{
        font-weight: bold;
        font-size: 30px;
    }

    #figure3{
        padding: 100px;
    }
}
@media (max-width: 599px){
    #figure2{
        display: none;
    }
}